<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="../../../app.component.css" rel="stylesheet" />
</head>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr  *ngFor="let equipo of equipos; let srNo  = index">
            <th>Name</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>equipo.Name</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
